{
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "overrides": [
    {
      "files": "**.qmd",
      "options": {
        "parser": "markdown",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
