::selection {
	color: #3a1e3e;
	background-color: #ffe880;
}

h1 {
	/* color: #005aff; */
	text-decoration: underline;
	text-decoration-color: #ffe880;
	text-decoration-thickness: 4px;
}

.callout-tip,
.callout-note {
	border: 1.5px solid rgba(255, 232, 128, 0.85) !important;
	border-left-width: 5px !important;
}

.callout-header {
	background-color: #ffe880 !important;
}

.card {
	border-radius: 0.2em;
	&:hover {
		background-color: #ffe880;
		border-color: #3a1e3e;
	}
}
